.page__padding {
  padding: 50px 110px;
}
.linear__gradient {
  background: linear-gradient(to right, #00b4b1 0%, #026ca8 31%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.about__about-doc{
  background-image: url(images/about.png);
  background-repeat: no-repeat;
  background-size: cover; 
  height: 416px;
}
.about__about-doc-overlay{
  position: absolute; 
  top: 545px;
  background: linear-gradient(-264deg, rgba(6, 155, 187, 1) 0%, rgba(0, 81, 149, 1) 100%);
  width: 400px;
  color: #fff;
}
.about__about-clock{
  background-image: url(images/aboutus-2.png);
  background-repeat: no-repeat;
  background-size: cover; 
  height: 355px;
}
.about__about-clock-overlay{
  position: absolute;
  background: linear-gradient(-264deg, rgba(6, 155, 187, 1) 0%, rgba(0, 81, 149, 1) 100%);
  width: 500px;
  bottom: 365px;
  right: 138px;
  color: #fff;
}
.about__margin-top-48 {
  margin-top: 48px;
}
.about__margin-bottom-74 {
  margin-bottom: 74px;
}
@media screen and (max-width: 425px) {
  .about__about-doc-overlay{
    position: inherit;
    width: auto;
    padding: 10px;
  }
  .about__about-clock-overlay{
    position: inherit;
    width: auto !important;
    padding: 10px;
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
  .page__padding {
    padding: 5px !important;
  }
  .about__about-doc-overlay{
    margin: 10px;
    top: 620px;
  }
  .about__about-clock-overlay{
    bottom: 360px !important;
    width: 440px;
    right: 40px !important;
  }
}
@media screen and (max-width: 1024px) {
  .page__padding {
    padding: 30px;
  }
  .about__about-clock-overlay{
    bottom: 316px;
    right: 65px;
  }
  .about__margin-top-48 {
    margin-top: 30px;
  }
  .about__margin-bottom-74 {
    margin-bottom: 30px;
  }
}