/*
  Document   : override
  Created on : <date>
  Author     : <author>
  Description:
      This is where any of your application specific styles should be included
*/
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800&family=Roboto+Condensed:wght@700&display=swap'); */
@import 'home.css';
@import 'focus.css';
@import 'joinus.css';
@import 'contact.css';
@import 'about.css';
@import 'responsive.css';
/* body, html{
  font-family: 'Montserrat', sans-serif;
} */
.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
* {
  font-family: 'Montserrat', sans-serif;
}
h1, H1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 55px;
}
.gsr-icon {
  width: 137px !important;
  height: 60px !important;
}
.gsr-icon:before {
  content: url(images/gsr_logo.svg);
}
.oj-navigationlist-item.oj-selected {
  border-color: rgba(0, 81, 149, 1);
}
.oj-selected > a.oj-navigationlist-item-content > .oj-navigationlist-item-label {
  color: rgba(20, 94, 150, 1);
}
a.oj-navigationlist-item-content > .oj-navigationlist-item-label { 
  color: rgba(20, 94, 150, 1);
}
.oj-navigationlist-horizontal .oj-navigationlist-item.oj-hover:not(.oj-selected) a.oj-navigationlist-item-content > .oj-navigationlist-item-label {
  color: rgba(20, 94, 150, 1);
}

.oj-navigationlist-horizontal .oj-navigationlist-item.oj-hover:not(.oj-selected) .oj-navigationlist-item-icon {
  color:  rgba(20, 94, 150, 1);
}

.join__us > button.oj-button-button {
  border-radius: 1.32rem;
  width: 125px;
  height: 45px;
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-264deg, rgba(6, 155, 187, 1) 0%, rgba(0, 81, 149, 1) 100%);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-264deg, rgba(6, 155, 187, 1) 0%, rgba(0, 81, 149, 1) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bottom__footer {
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-264deg, rgba(6, 155, 187, 1) 0%, rgba(0, 81, 149, 1) 100%);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-264deg, rgba(6, 155, 187, 1) 0%, rgba(0, 81, 149, 1) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.oj-web-applayout-footer-item {
  color: #FFFFFF !important;
}
.bottom__footer .oj-navigationlist-item.oj-selected {
  border-color:#FFFFFF;
}
.bottom__footer .oj-selected > a.oj-navigationlist-item-content > .oj-navigationlist-item-label {
  color: #FFFFFF;
}
.bottom__footer a.oj-navigationlist-item-content > .oj-navigationlist-item-label { 
  color: #FFFFFF;
}
.bottom__footer .oj-navigationlist-horizontal .oj-navigationlist-item.oj-hover:not(.oj-selected) a.oj-navigationlist-item-content > .oj-navigationlist-item-label {
  color: #FFFFFF;
}

.bottom__footer .oj-navigationlist-horizontal .oj-navigationlist-item.oj-hover:not(.oj-selected) .oj-navigationlist-item-icon {
  color:  #FFFFFF;
}
.join__us__footer > button.oj-button-button {
  border-radius: 1.32rem;
  width: 125px;
  height: 45px;
  background-color: #FFFFFF !important;
  color: #005195 !important;
}
.oj-web-applayout-header {
  border: 0;
}

  /* Medium and large Screens */
@media screen and (min-width: 769px) {
  .page__padding {
    padding-left: 143px;
    padding-right: 110px;
  }
}
