.focus__image-props {
    background-repeat: no-repeat;
    background-size: inherit; 
    height: 674px;
    background-position: center;
}
.focus__span-fw-18 span {
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    font-size: 18px;
}
.focus__founder {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 180, 177, 1);
    line-height: 28px;
}
.img-bg-health{
    background-image: url(images/focus_2.png);
    
}
.img-bg-education{
    background-image: url('images/focus_3.png');
}

.img-bg-employment{
    background-image: url('images/focus_4.png');
}

.img-bg-letter{
    background-image: url('images/focus_5.png');
    height: 100% !important;
}
@media screen and (max-width: 1023px) {
    .img-bg-letter {
        height: 674px !important;
    }
}
@media screen and (min-width: 769px) {
    .img-bg {
    position: absolute;
    width: 40%;
    height: 477px;
    top: 285px;
    display: initial;
    background-image: url('images/focus_1.png');
    background-position: 50% 50%;
    background-size: cover; 
  }
}

.gsr-focus-wrapper .gsr-content .content{
    height: 162px;
    padding-right: 44px;
    padding-bottom: 150px;
    padding-top: 56px;
    padding-left: 200px;
}

.gsr-focus-wrapper .gsr-content{
    background-color:  rgba(0, 180, 177, 1);
    /* background: linear-gradient( 
    141deg
    , rgb(6, 130, 187) 0%, rgb(0, 81, 149) 100%); */
    color: rgb(255, 255, 255, 1);
    padding: 20px;
}
@media screen and (min-width: 769px) {
        .gsr-focus-wrapper .gsr-content{
            box-sizing: border-box;
            width: 68%;
            padding: 30px;
            height: 462px;
            font-size: 18px;
            top: 40px;
            padding-right: 44px;
            padding-bottom: 150px;
            padding-top: 56px;
            padding-left: 200px;
            margin-left: 370px;
            align-content: center;
            background-color:  rgba(0, 180, 177, 1);
            /* background: linear-gradient( 
            141deg
            , rgb(6, 130, 187) 0%, rgb(0, 81, 149) 100%); */
            color: rgb(255, 255, 255, 1);
    }
    .gsr-focus{
        margin-top: 66px;
        height: 462px;
    }
    .gsr-focus-wrapper {
        margin-top: 100px;
    }
}