/* Film Strip CSS */
.filmstrip {
    height: 10rem;
}
  
.filmstrip-item {
    box-sizing: border-box;
    width: auto;
    height: 10rem;
}
  /* Medium and large Screens */
@media screen and (min-width: 769px) {
    .filmstrip-item {
        width: 429px;
    }
}
.filmstrip-wrapper {
    display: inline-block;
}
  
.paging-container {
    position: absolute;
    top: 50%;
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
  
html:not([dir="rtl"]) .paging-container {
    right: 0;
}
  
html[dir="rtl"] .paging-container {
    left: 0;
}
  
.film__strip__outer__container {
    display: inline-block;
    position: relative;
    padding-inline-end: 2.5rem;
}
/* End of Film Strip CSS */
.brand__name {
    background: linear-gradient(-339deg ,rgba(0, 180, 177, 1) 0%,rgba(2, 108, 168, 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.wrapper{
  box-sizing: border-box;
  width: 100%;
  max-width: 1212px;
  margin: 0px auto 64px;
  padding: 0px;
  position: relative;
  }
 .wrapper .content{
    box-sizing: border-box;
    width: 100%;
    padding: 20px 15px 0px;
    margin: 0px auto;
    max-width: 1440px;
    /* display: ; */
     flex-flow: row nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
} 
.wrapper .block{
  position: relative;
}
 
.wrapper .block::before{
  display: block;
  width: 100%;
  padding-top: 30%;
  content: "";
}

 .wrapper .block .span{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
} 
.wrapper .block .span .bg{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../css/images/Bitmap.png');
    background-position: 50% 50%;
    background-size: cover;   
}

.wrapper .content{
  box-sizing: border-box;
    width: 100%;
    padding: 30px;
    position: relative;
    background: linear-gradient(
141deg
, rgb(6, 130, 187) 0%, rgb(0, 81, 149) 100%);
    color: rgb(255, 255, 255);
}
.wrapper .content h3{
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0px 0px 32px;
    color: rgb(255, 255, 255);
}
.wrapper .content p{
  /* margin: 0px 0px 28px; */
  margin: 0;
  font-size: 18pt;
  line-height: 26pt;
  color: #fff;
}
  
@media (min-width: 64em){
  .wrapper .content{
    width: 500px;
    padding: 15px;
    position: absolute;
    bottom: -80px;
    left: 24px;   
    -webkit-box-align: center;
    align-items: center;
}
}


 




.education-block h1{
  background: linear-gradient(to right,rgb(6, 109, 156),rgb(4, 124, 124),rgb(53, 187, 136));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}
.employment-block h1{
  background: linear-gradient(to right,rgb(6, 109, 156),rgb(4, 124, 124),rgb(53, 187, 136));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}
.education-block h1 h6{
  margin-top: 80px;
}
 .oj-flex{
   margin-left:60px;
    margin-top: 120px;
 }




    .content-wrapper{
      box-sizing: border-box;
      width: 100%;
      max-width: 1212px;
      margin: 0px auto 64px;
      padding: 0px;
      position: relative;
      margin-top: 100px;
      }
     .content-wrapper .content1{
        box-sizing: border-box;
        width: 100%;
        padding: 20px 15px 0px;
        margin: 0px auto;
        max-width: 1440px;
        /* display: ; */
         flex-flow: row nowrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        align-items: flex-start;
    } 
    .content-wrapper .gsr-block{
      position: relative;
    }
     
    .content-wrapper .gsr-block::before{
      display: block;
      width: 100%;
      padding-top: 30%;
      content: "";
    }
    
     .content-wrapper .gsr-block .gsr-span{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: flex;
    } 
    .content-wrapper .gsr-block .gsr-span .gsr-bg{
      position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url('../css/images/Bitmap_Copy.png');
        background-position: 50% 50%;
        background-size: cover;   
    }
    
    .content-wrapper .content1{
      box-sizing: border-box;
        width: 100%;
        padding: 30px;
        position: relative;
        background: linear-gradient(
    141deg
    , rgb(6, 130, 187) 0%, rgb(0, 81, 149) 100%);
        color: rgb(255, 255, 255);
    }
    .content-wrapper .content1 h3{
        font-size: 20px;
        line-height: 1.4;
        font-weight: 700;
        margin: 0px 0px 32px;
        color: rgb(255, 255, 255);
    }
    .content-wrapper .content1 p{
      /* margin: 0px 0px 28px; */
      margin: 0;
      font-size: 18pt;
      line-height: 26pt;
      color: #fff;
    }
      
    @media (min-width: 64em){
      .content-wrapper .content1{
        width: 500px;
        padding: 15px;
        position: absolute;
        bottom: -150px;
        left: 24px;   
        -webkit-box-align: center;
        align-items: center;
    }
    }
    
    